{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-100 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">Lead</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mt-2 mb-2">{{ lead.first_name }} {{ lead.last_name }}</h1>
          <p class="my-3 text-md text-gray-500 truncate">{{ lead.description }}</p>
          <div class="flex mb-4">
            <a href="{% url 'leads:lead-detail' lead.pk %}" class="text-center flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Overview</a>
            <a href="{% url 'leads:lead-category-update' lead.pk %}" class="text-center flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Category</a>
            <a href="{% url 'leads:lead-update' lead.pk %}" class="text-center flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
            <a href="{% url 'leads:lead-delete' lead.pk %}" class="text-center flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Delete</a>
          </div>
          <p class="leading-relaxed my-9">
              Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Maxime, error quis, minima eaque repudiandae culpa hic beatae rerum aut, quaerat nobis distinctio ut in nihil atque quos voluptatem dolorem. Culpa debitis nemo in et officia.
          </p>
          <div>
            <div class="flex border-gray-200 py-2">
              <span class="text-gray-500">First Name</span>
              <span class="ml-auto text-gray-900">{{ lead.first_name }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Last Name</span>
              <span class="ml-auto text-gray-900">{{ lead.last_name }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Age</span>
              <span class="ml-auto text-gray-900">{{ lead.age }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Phone Number</span>
              <span class="ml-auto text-gray-900">{{ lead.phone_number }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">Email Address</span>
              <span class="ml-auto text-gray-900">{{ lead.email }}</span>
            </div>
          </div>
          <div class="my-6">
            <a href="{% url 'leads:lead-followup-create' lead.pk %}" class="text-white bg-indigo-500 hover:bg-indigo-600 hover:text-white px-3 py-2 rounded-md">Add a followup</a>
          </div>
        </div>
        <div class="lg:w-1/2 w-full mt-5">
            <img alt="thumbnail" class="w-100 pt-5 object-cover object-center rounded m-auto" src="{% static 'images/1.png' %}">
        </div>
      </div>
      {% for followup in lead.followups.all %}
        <div class="lg:w-100 mx-auto mt-5 shadow-md px-4 sm:px-6">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm font-medium text-gray-500">
                Notes (<a href="{% url 'leads:lead-followup-update' followup.pk %}" class="text-indigo-500 hover:text-indigo-700">update</a>)
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{ followup.notes }}
                </dd>
            </div>
            {% if followup.file %}
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                    Attachments
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                        <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                            <div class="w-0 flex-1 flex items-center">
                                <!-- Heroicon name: paper-clip -->
                                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                                </svg>
                                <span class="ml-2 flex-1 w-0 truncate">
                                {{ followup.file.name }}
                                </span>
                            </div>
                            <div class="ml-4 flex-shrink-0">
                                <a href="{{ followup.file.url }}" download class="font-medium text-indigo-600 hover:text-indigo-500">
                                Download
                                </a>
                            </div>
                        </li>
                    </ul>
                    </dd>
                </div>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
