{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Agents</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus neque provident aliquam atque itaque officia fugiat explicabo, maxime, eius dolorum.</p>
      </div>
      <div class="flex flex-wrap -m-2">
        {% for agent in object_list %}
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full shadow flex items-center border-gray-200 border p-4 rounded-lg">
              <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{% static 'images/1.png' %}">
              <div class="flex-grow">
                <a href="{% url 'agents:agent-detail' agent.pk %}" class="text-gray-900 title-font font-medium">
                  {{ agent.user.first_name }} {{ agent.user.last_name }}
                </a>
                <p class="text-gray-500">
                  {{ agent.user.email }}
                </p>
              </div>
            </div>
          </div>
        {% empty %}
          <p>There are currently no agents</p>
        {% endfor %}
      </div>
      <div class="flex justify-end my-20">
        <a href="{% url 'agents:agent-create' %}" class="shadow inline-flex text-white bg-indigo-600 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-700 hover:text-white rounded-lg">Create New</a>
      </div>
    </div>
  </section>
{% endblock content %}
